@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html{
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fbfcf5;
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 6% 0% 0% 0%;
}

#body{
  width: 85%;
  color: black;
  margin: 0% 7.5% 0% 7.5%;
}

/* styling particle.js element */
#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

/*Styling Header*/
#header{
  background-color: #424240;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  z-index: 15;
  border-bottom: 2px solid #ff8300;
}

#image{
  width: 54%;
  height: 54%;
  padding-top: 4%;
}

#title{
  float: left;
  font-size: 120%;
  padding-left: 15px;
}

#menu{
  list-style: none;
  text-align: center;
}

li{
  display: inline-block;
  float: right;
  font-size: 120%;
  padding-right: 15px;
  padding-top: 5.5px;

}

li>a:link{
  text-decoration: none;
  color: white;
}

li>a:visited{
  color: white;
}

li>a:hover{
  color:yellow;
}

li>a:active{
  color:#1bfaa1;
}

/* Styling body */
#about-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 300%;
  text-align: center;
  padding: 4% 0% 0% 0%;
}

.subtitle{
  text-align: center;
  padding-bottom: 2%;
  font-size: 135%;
}

#picture{
  list-style: none;
  width: 85%;
  margin: 0 8.5% 0 6.5%;
  display: inline-block;
  padding-top: 1.5%;
}

.p-title{
  font-size: 220%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;


}
.paragraph{
  font-size: 130%;
  text-align: justify;
  padding: 2%;
  padding-top: 0.5%;
  text-indent: 5%;
  line-height: 1.6;

}

.writing{
  border-style: solid;
  border-width: thin;
  margin-bottom: 4%;
  border-color: #D48855;
  position: relative;
  background-color: #fbfcf5;
  z-index: 10;
}

/* NOTE: scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb{
  background:#ff8c00;

}

::-webkit-scrollbar-thumb:hover{
  background:#f28500;
}


/*Styling the footer*/

#footer{
  clear: both;
  background-color: #424240;
  color:white;
  text-align: right;
  padding: .25%;
  position: relative;
  width: 100%;
  bottom: 0;

}

#footertext{
  padding-right: 10px;
}

/* Responsive layout - make it look good on mobile */

@media screen and (max-width: 634px) {

  li{
    font-size: 85%;
    padding-top: 1px;
  }

  #about-title{
    padding-top: 20%;
    font-size: 240%;
  }

  #image{
    width: 110%;
    height: 110%;
    padding-top: 8%;
  }

  .subtitle{
    font-size: 90%;
  }
  .pic{
    display: none;
  }
  #picture{
    display: none;
  }
  .section{
    padding-left: 2%;
    padding-right: 2%;
  }
  .p-title{
    font-size: 200%;
  }
  .paragraph{
    font-size: 115%;
  }


}

@media screen and (min-width:635px)  and (max-width:800px){
  /* Body */
  #body{
    width: 92%;
    color: black;
    margin: 0% 4% 0% 4%;
  }
  .subtitle{
    font-size: 120%;
  }
  #picture{
    width: 90%;
    margin-right: 10%;
    margin-left: 0%;
  }
  #pic{
    max-width: 100%;
  }
  .writing{
    padding: 1%;
  }
  #about-title{
    padding-top: 12.5%;
  }

}
